body{
    
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    background: midnightblue;
    font-family: sans-serif;
}

header{
    background: #000;
}

header ul {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin-top: 0px;
    padding: 0;
}

header ul li {
    list-styled:none;
    position: relative;
    padding: 10px 15px;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255,.2)
}

header ul li:last-child{
    border-right: none;
}

header ul li a{
    text-decoration: none;
    padding:0 20px;
    color:#fff;
}

.header-brand{
    font-family:Catamaran;
    font-size:24px;
    font-weight:900;
    color:#111;
    text-transform:uppercase;
    display:block;
    margin:0 auto;
    text-align:centre;
    padding:20px 0px;
}

.header brand:hover{ 
    color:aliceblue;
    background:black;
    width:100%;
}

.index-banner{
    width:100%;
    height: calc(100vh-100px);
    background: steelblue;
    
}

.vertical-centre{
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2{
    font-family: Catamaran;
    font-size: 30px;
    font-weight:300;
    line-height:70px;
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1{
    font-family: Cormorant, Garamond;
    font-size:28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}



